.container {
	clear:both;
	background-color:#eeeeee;
}

#optionSelection {
	background-color:#aaaaaa;
	width:40%;
	float:left;
	padding:10px;
}

#visualization {
	background-color:white;
	width:500px;
	float:left;
	padding:10px;
}

#studentView {
	height:80%;
}

#teacherView {
	height:80%;
}

#drawTestingDiv {
	height:80%;
}

#generateDiv {
	height:80%;
}

/*
ACCORDION STUFF
*/

.accordion-section-title {
	color:#fff;
	border-bottom:1px solid #1a1a1a;
	width:100%;
	background:#333;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#4c4c4c;
}

.accordion-section-content {
	display:none;
	height:80%;
	border-style:solid;
}

.accordion-section-content.open {
	display:inline;
	overflow-y:auto;
}